body{
}
div.info{
  width: 48%;
  height: 139px;
  position: absolute;
}
div.entry{
  width:48%;
  position: absolute;
  right: 0;
}
div.honesty{
  position: absolute;
  top: 250px;
text-align: center;
  width: 100%;

}
